@model FurnitureShop.Models.Page

@{
    ViewData["Title"] = "Details";
}
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3>Category</h3><small>Detail</small>
                            </div>
                            <div class="col-md-auto">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="container mt-4">
                                <h1 class="text-primary">Page Details</h1>
                                <div class="card shadow-sm mt-3">
                                    <div class="card-body">
                                        <h4 class="text-secondary">Page Information</h4>
                                        <hr />
                                        <dl class="row">
                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.Title)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.Title)
                                            </dd>

                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.Content)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.Content)
                                            </dd>
                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.Image)
                                            </dt>
                                            <dd class="col-sm-9">
                                                <img src="@Url.Content("~/data/pages/" + Model.Image)"
                                                     alt="Product Image"
                                                     class="img-thumbnail"
                                                     style="max-width: 200px;" />
                                            </dd>
                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.DisplayOrder)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.DisplayOrder)
                                            </dd>
                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.CreatedDate)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.CreatedDate)
                                            </dd>

                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.CreatedBy)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.CreatedBy)
                                            </dd>

                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.UpdatedDate)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.UpdatedDate)
                                            </dd>

                                            <dt class="col-sm-3 fw-bold text-secondary">
                                                @Html.DisplayNameFor(model => model.UpdatedBy)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.UpdatedBy)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">
                                        <i class="bi bi-pencil"></i> Edit
                                    </a>
                                    <a asp-action="Index" class="btn btn-secondary">
                                        <i class="bi bi-arrow-left"></i> Back to List
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>