@model IEnumerable<FurnitureShop.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order Management</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.User?.Name</td>
                <td>@order.Total_price</td>
                <td>@order.Status</td>
                <td>
                    <a asp-action="Details" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
