@{
	ViewData["Title"] = "Home Page";
	var pageHome = ViewData["PageHome"] as FurnitureShop.Models.Page;
	var pageShop = ViewData["PageShop"] as FurnitureShop.Models.Page;
	var pageAboutUs = ViewData["PageAboutUs"] as FurnitureShop.Models.Page;
	var review = ViewData["HotReviews"] as FurnitureShop.Models.Review;
	var pageService = ViewData["PageService"] as FurnitureShop.Models.Page;

	
	var FacebookLink = ViewData["FacebookLink"] as FurnitureShop.Models.Setting;
	var InstagramLink = ViewData["InstagramLink"] as FurnitureShop.Models.Setting;
	var TwitterLink = ViewData["TwitterLink"] as FurnitureShop.Models.Setting;
	var LinkedInLink = ViewData["LinkedInLink"] as FurnitureShop.Models.Setting;

}
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>@pageHome!.Title</h1>
					<p class="mb-4">
						@pageHome.Content
					</p>
					<p>
						<a asp-action="Index" asp-controller="Shop" class="btn btn-secondary me-2">Shop Now</a>
						
					</p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="~/data/pages/@pageHome.Image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End Hero Section -->
<div class="product-section">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">@pageShop.Title</h2>
				<p class="mb-4">@pageShop.Content </p>
				<p><a asp-action="Index" asp-controller="Shop" class="btn">Go</a></p>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			@foreach(var item in ViewData["HotProducts"] as List<Product> ?? [])
				{
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">
						<img src="~/data/products/@item.Image" class="img-fluid product-thumbnail" style="width:306px;height:306px">
						<h3 class="product-title">@item.Name</h3>
						<strong class="product-price">$@item.Price</strong>

						<span class="icon-cross">
							<img src="~/data/products/@item.Image" class="img-fluid">
						</span>
					</a>
				</div>
				}
		</div>
	</div>
</div>
<!-- End Product Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<h2 class="section-title">@pageService.Title</h2>
				<p>@pageService.Content</p>

				<div class="row my-5">
					@foreach(var item in ViewData["HotServices"] as List<Feature> ?? []){
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="~/data/features/@item.Icon" alt="Image" class="imf-fluid" style="width:46px;height:46px">
								</div>
								<h3>@item.Title</h3>
								<p>@item.Subtitle</p>
							</div>
						</div>
						}
				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="~/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start We Help Section -->
<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1"><img src="~/images/img-grid-1.jpg" alt="Untree.co"></div>
					<div class="grid grid-2"><img src="~/images/img-grid-2.jpg" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="~/images/img-grid-3.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">@pageAboutUs.Title</h2>
				<p>@pageAboutUs.Content</p>

				<ul class="list-unstyled custom-list my-4">
					<li><a href="@FacebookLink?.Value"><span class="fa fa-brands fa-facebook-f fa-2x"></span></a></li>
					<li><a href="@TwitterLink?.Value"><span class="fa fa-brands fa-twitter fa-2x"></span></a></li>
					<li><a href="@InstagramLink?.Value"><span class="fa fa-brands fa-instagram fa-2x"></span></a></li>
					<li><a href="@LinkedInLink?.Value"><span class="fa fa-brands fa-linkedin fa-2x"></span></a></li>
				</ul>
				<p><a asp-action="About" asp-controller="Home" class="btn">Khám phá</a></p>
			</div>
		</div>
	</div>
</div>
<!-- End We Help Section -->
<!-- Start Popular Product -->
<div class="popular-product">
	<div class="container">
		<div class="row justify-content-between">
			@foreach (var item in ViewData["HotProducts"] as List<Product> ?? new List<Product>())
			{
				<div class="col-12 col-md-6 col-lg-4 mb-4">
					<div class="product-item d-flex flex-column border rounded shadow-sm">
						<div class="thumbnail">
							<img src="~/data/products/@item.Image" alt="@item.Name" class="img-fluid rounded-top" style="width:414px;height:414px">
						</div>
						<div class="pt-3 px-3">
							<h3 class="h5">@item.Name</h3>
							<p><a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>
			}




		</div>
	</div>
</div>

<!-- End Popular Product -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Đánh Giá</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">
						@foreach (var item in ViewData["HotReviews"] as List<Review> ?? [])
						{
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>@Html.Raw(item.Comment)</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="~/admin/img/undraw_profile.svg" alt="Person" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">@item.User.Name</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div>
						}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
<!-- Start Blog Section -->
