@using FurnitureShop.Utils;
@{
	ViewData["Title"] = "Home Page";
	var pageService = ViewData["PageService"] as FurnitureShop.Models.Page;
	var pageAboutUs = ViewData["PageAboutUs"] as FurnitureShop.Models.Page;
	
}
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>@pageService?.Title</h1>
					<p class="mb-4">@pageService?.Content</p>
					<p><a asp-action="Index" asp-controller="Shop" class="btn btn-secondary me-2">Shop Now</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="~/data/pages/@pageService.Image" class="img-fluid" >
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row my-5">
			@foreach(var item in ViewData["AllServices"] as List<Feature> ?? []){
				<div class="col-6 col-md-6 col-lg-3 mb-4">
					<div class="feature">
						<div class="icon">
							<img src="~/data/features/@item.Icon" alt="Image" class="imf-fluid" style="width:46px;height:46px">
						</div>
						<h3>@item.Title</h3>
						<p>@item.Subtitle</p>
					</div>
				</div>
			}
			

			

		</div>

	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start Product Section -->
<div class="product-section pt-0">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">Được chế tác từ chất liệu tuyệt hảo.</h2>
				<p class="mb-4">Sống với đam mê, từng bước tiến lên. Hãy chọn những giá trị bền vững để tạo nên sự khác biệt.</p>
				<p><a asp-action="Index" asp-controller="Shop" class="btn">Explore</a></p>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			@foreach(var item in ViewData["HotProducts"] as List<Product> ?? []){
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" asp-controller="Shop" asp-action="Details" asp-route-productName="@CreateNameUrl.CreateProductUrl(item.Name)">
						<img src="~/data/products/@item.Image" class="img-fluid product-thumbnail" style="width:306px;height:306px">
						<h3 class="product-title">@item.Name</h3>
						<strong class="product-price">$@item.Price</strong>

						<span class="icon-cross">
							<img src="~/images/cross.svg" class="img-fluid">
						</span>
					</a>
				</div>
				}
			
			<!-- End Column 2 -->

		</div>
	</div>
</div>
<!-- End Product Section -->
<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Đánh Giá</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">
						@foreach (var item in ViewData["ServiceReviews"] as List<Review> ?? [])
						{
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>@Html.Raw(item.Comment)</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="~/admin/img/undraw_profile.svg" alt="Person" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">@item.User.Name</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div>
						}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
